<!-- courses/templates/about.html -->

{% extends 'base.html' %}

{% block content %}
<main>
    
  
<p>We teach computer basics in a very easy way, focusing on:</p>
<div style="text-align: left;">
  <ul style=" color: green; text-align: left;">
    <li>Python</li>
    <li>Django</li>
    <li>Tkinter</li>
    <li>Data Science</li>
    <li>Machine Learning</li>
  </ul>
</div>
<p>Our curriculum includes everything you need to know about automating tasks using Python. Join us on this exciting learning journey!</p>
<p>Also, make sure to watch one of our videos related to computer fundamentals, where we cover the history of computers.</p>
      <div class="youtube-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dUzU3vVP1lw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</main>
{% endblock %}
